<!-- Iconify  -->
<head>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>


<body class="body">
  <div class="banner">
    <div class="banner-content">
      <h1 class="text-center">Tam's Cocktails</h1>
      <p id="banner-text">Great beverages to spend some chill out time with friends</p>
      <%= link_to "Add a cocktail ðŸ¸", new_cocktail_path, class: "btn btn-warning btn-lg" %>
      </div>
  </div>

  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="cards">
      <div class="card-category">
        <p> <%= cocktail.photo %></p>
        <h2><%= cocktail.name %></h2>
      </div>
    <%= link_to "See more", cocktail_path(cocktail), class: 'card-link' %>
    </div>
  <% end %>
  </div>

</body>

