body {
  color: #986507f7;
  cursor: pointer;
}

.background-form {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.03) 0%,rgba(244,244,244,0.03) 62%,rgba(237,237,237,1) 100%), url('https://res.cloudinary.com/dr1gk6cpf/image/upload/v1617305796/Mister_Cocktail/pesce-huang-descktop.jpg');
  background-size: cover;
  height: 100vh;
}

.form-control {
  background-color: #ffbe84a1;
  border-radius: 6px;
  border: 1px solid #774d00a3;
}

.form-control:checked {
  background-color: #ffbe84a1;
}
