.btn {
  margin: 10px;
}

.banner .btn {
  margin-left: 105px;
}

.btn-file {
  background-color: #986507cf;
  border: 1px solid white;
  border-radius: 5px;
}

.btn-file:hover {
  background-color: #986507cf;
  border: 7px solid ivory;
  border-radius: 7px;
  font-size: larger;
}

.btn-cocktail {
  border: 7px solid ivory;
  border-radius: 7px;
}

.btn-cocktail:hover {
  border: 7px solid ivory;
  border-radius: 7px;
  font-size: x-large;
}

